.App {
  text-align: center;
}

.red {
  composes: Red from 'assets/cssmodules/appearance.module.css';
}

.bold {
  composes: Bold from 'assets/cssmodules/appearance.module.css';
}

.underlined {
  composes: Underlined from 'assets/cssmodules/appearance.module.css';
}
